<table mat-table [dataSource]="dataSource" matSort class="data-table">
  @for (column of columns(); let index = $index; track column.labelKey) {
    <ng-container [matColumnDef]="column.labelKey">
      @if (isSortable(column)) {
        <th mat-header-cell *matHeaderCellDef [mat-sort-header]="getSortKey(column)">
          {{ column.labelKey | translate }}
        </th>
      } @else {
        <th mat-header-cell *matHeaderCellDef>{{ column.labelKey | translate }}</th>
      }
      <td mat-cell *matCellDef="let row">{{ row.values[index] | translate }}</td>
    </ng-container>
  }
  @if (showActions()) {
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>{{ "common.actions" | translate }}</th>
      <td mat-cell *matCellDef="let row" class="actions-cell">
        @if (row.canEdit !== false) {
          <button
            mat-icon-button
            type="button"
            [attr.aria-label]="'common.edit' | translate"
            (click)="$event.stopPropagation(); editCallback.emit(row.id)">
            <mat-icon>edit</mat-icon>
          </button>
        }
        @if (row.canDelete !== false) {
          <button
            mat-icon-button
            color="warn"
            type="button"
            [attr.aria-label]="'common.delete' | translate"
            (click)="$event.stopPropagation(); deleteCallback.emit(row.id)">
            <mat-icon>delete</mat-icon>
          </button>
        }
      </td>
    </ng-container>
  }
  <tr
    mat-header-row
    *matHeaderRowDef="
      showActions()
        ? columns()
            .map(column => column.labelKey)
            .concat(['actions'])
        : columns().map(column => column.labelKey)
    "></tr>
  <tr
    mat-row
    *matRowDef="
      let row;
      columns: showActions()
        ? columns()
            .map(column => column.labelKey)
            .concat(['actions'])
        : columns().map(column => column.labelKey)
    "
    (click)="rowClick.emit(row.id)"></tr>
</table>
